[submodule "Vendors/Ash"]
	path = Vendors/Ash
	url = https://github.com/PatchByte/Ash.git
[submodule "Vendors/zydis"]
	path = Vendors/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "Vendors/mem"]
	path = Vendors/mem
	url = https://github.com/0x1F9F1/mem.git
[submodule "Vendors/glfw"]
	path = Vendors/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendors/imgui"]
	path = Vendors/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Vendors/fmt"]
	path = Vendors/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Vendors/imgui-node-editor"]
	path = Vendors/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor
[submodule "Vendors/ImGuiFileDialog"]
	path = Vendors/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "Vendors/libdatachannel"]
	path = Vendors/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
[submodule "Vendors/json"]
	path = Vendors/json
	url = https://github.com/nlohmann/json.git
